<div class="sidenav">
  <span class="logo"><fa-icon [icon]="faDiceD6"></fa-icon>Module</span>
  <hr class="solid">
  <div class="links">
    <a href="/overview"><fa-icon [icon]="faHome" [fixedWidth]=true></fa-icon>Overview</a>
    <a href="/cloud"><fa-icon [icon]="faCloud" [fixedWidth]=true></fa-icon>Cloud</a>
    <a href="#experiments"><fa-icon [icon]="faFlask" [fixedWidth]=true></fa-icon>Experiments</a>
    <a href="#security"><fa-icon [icon]="faShieldAlt" [fixedWidth]=true></fa-icon>Security</a>
    <a href="#ownership"><fa-icon [icon]="faGlobe" [fixedWidth]=true></fa-icon>Ownership</a>
    <a href="#colors"><fa-icon [icon]="faPalette" [fixedWidth]=true></fa-icon>Colors</a>
    <a href="#logout" class="logout"><fa-icon [icon]="faSignOutAlt" [fixedWidth]=true></fa-icon>Logout</a>
  </div>
</div>